.background-conteiner {
    background-image: url(../img/background.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: "Ubuntu", sans-serif;
}

.header {
    height: 58px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 79px;
    margin-bottom: 53px;

}

.header-logo {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.conteiner-header-icon {
    display: flex;
    align-items: center;
}

.header-icon {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 20px;
}

.border {
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    color: rgba(255, 255, 255, 0.9);
    margin-right: 20px;
}

.log-in a,
.sing-up a {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.or {
    margin-left: 5px;
}

.or,
.welcom {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: rgb(255, 255, 255);
}

.conteiner-form {
    width: 444px;
    height: 584px;
    box-sizing: border-box;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    background: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 0 60px;
}

.form-header {
    padding-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
}

.form-header a {

    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: rgb(60, 184, 120);
    text-decoration: none;
}

.form-header span {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.conteiner-form-btn a {
    text-decoration: none;
}

.conteiner-form-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.facebook-btn,
.google-btn {

    width: 157px;
    height: 46px;
    display: flex;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;

}

.facebook-btn {
    background: rgb(48, 93, 184);
    position: relative;
}

.google-btn {
    background: rgb(223, 74, 50);
    position: relative;
}

.facebook-btn svg {
    padding: 12px 38px 0 17px;

}

.fb-border {
    width: 1px;
    height: 28px;
    background: rgb(10, 22, 47);
    opacity: 0.1;
    position: absolute;

    right: 111px;
    top: 10px;
    bottom: 10px;
}

.btn-facebook {
    padding: 17px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(255, 255, 255);
}

.btn-google {
    padding: 17px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(255, 255, 255);
}

.google-btn svg {
    padding: 15px 38px 0 12px;
}

.google-border {
    width: 1px;
    height: 28px;
    background: rgb(10, 22, 47);
    opacity: 0.1;
    position: absolute;
    right: 110px;
    top: 10px;
    bottom: 10px;
}

.form-or {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: rgb(132, 132, 132);
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.form-or::before,
.form-or::after {
    content: "";
    height: 1px;
    width: 152px;
    background: rgb(242, 242, 242);
    display: block;
    margin: 0 2px;
}

.input {
    width: 324px;
    height: 44px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 15px 0 15px 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: rgb(67, 67, 67);
}

.terms-conditions {
    text-decoration: none;
    color: rgb(60, 184, 120);
}

.checkbox-input {
    width: 14px;
    height: 13.5px;
    margin-bottom: 20px;
}

.sumit-btm {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(255, 255, 255);
    padding: 16px 99px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.8);
    border: none;
}



/* ///////////HOVER//////// */

.header-logo:hover {
    color: rgb(1, 129, 63);
}

.log-in a:hover {
    color: rgb(1, 129, 63);
}

.sing-up a:hover {
    color: rgb(1, 129, 63);
}

.header-icon path:hover {
    fill: rgb(1, 129, 63);
}

.form-header a:hover {
    color: rgb(1, 129, 63);
    text-decoration: underline;
}

.facebook-btn:hover {
    background: rgb(2, 34, 99);
}

.google-btn:hover {
    background: rgb(171, 31, 9);
}

.input:hover {
    width: 322px;
    height: 44.08px;
    border-radius: 4px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    background: rgb(255, 255, 255);
}

.terms-conditions:hover {
    text-decoration: underline;
    color: rgb(1, 129, 63);
}

.sumit-btm:hover {
    background: rgb(1, 129, 63);
}