.background {
  background-image: url(../img/background.png);
  background-size: cover;
  width: 1366px;
  height: 768px;
  margin: 10% auto;
}

a {
  text-decoration: none;
}

/* //////HEADER//////// */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 61px;
  padding: 46px 177px 17px 161px;
}

.logo a {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.logo:hover span {
  color: rgb(242, 101, 34);
}

.icon {
  background-image: url(../img/logo.svg);
  width: 53px;
  height: 47px;
}

.logo:hover .icon {
  background-image: url(../img/logo2.svg);
  width: 53px;
  height: 47px;
  background-size: cover;
}
.text-logo {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
  padding-left: 8px;
}

.milan,
.holidays {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.milan {
  font-size: 29px;
  line-height: 29px;
}

.holidays {
  font-size: 18px;
  line-height: 18px;
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 19px;
}

.phone a:hover {
  color: rgb(242, 101, 34);
}
.emeil,
.tel {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(255, 255, 255);
}

/* ///////MAIN//////// */

.galery-conteiner {
  display: flex;
  flex-wrap: wrap;
  margin-left: 165px;
  gap: 0 60px;
}

.galery-item{
  text-align: center;
  cursor: pointer;
  position: relative;
}

.galery-item:hover span{
  color: orange;
}

.galery-item:hover .promo{
  transition-duration: 0.5s;
  margin-bottom: 55px;
}

.photo {
  margin-bottom: 20px;
  overflow: hidden;
    position: relative;
}

.promo{
width: 300px;
height: 55px;
background: rgb(242, 101, 34);
position: absolute;
left: 2px;
bottom: -55px;
}


.subtittle {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(255, 255, 255);
  margin-bottom: 37px;
}

.footer-copyright{
  font-size: 12px;
font-weight: 400;
line-height: 12px;
color: rgb(255, 255, 255);
display: block;
text-align: center;
margin-top: 12px;
}